table{
    width: 80%;
    border-Collapse: collapse;
    text-Align: center;
    border-Radius: 10px;
    border: 2px solid red;
    max-height: 400px;
    overflow-y:auto;
}


th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px; 
}

th{
    color: rgba(255, 251, 0, 0.699);
    font-family: overpass;
    font-weight: bold;
    font-size: 25px;
}

#graphplane{
    width: 80vw;
    margin-Top: 30px;
    display: flex;
    justify-Content: space-between;
    align-items: center;
}
#lol{
    font-size: 50px;
    font-family: overpass;
    font-weight: bold;
}

.h2{
    font-size: 20px;
    font-family: overpass;
    font-weight: bold;
}

#hmm{
    font-size: 20px;
    font-family: overpass;
    font-weight: bold;
}

.graphbox{
    width: "100%";
    height: "100%"; 
    text-align: "center";
    justify-content: "center";
}